<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Setup</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Setup Categories and Monthly Budget</h2>
    <div class="grid">
        <div>
            <h4>Categories</h4>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home</td>
                    </tr>
                    <tr>
                        <td>Food & Drink</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 3rem">- Groceries</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 3rem">- Restaurants</td>
                    </tr>
                    <tr>
                        <td>Bills & Utilities</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h4>Monthly Spending Budget</h4>
            <table class="striped">
                <thead>
                    <tr>
                        <td colspan="3">Category</td>
                        <td class="align-right">Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><strong>Home</strong></td>
                        <td class="align-right"><strong>$1280</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Food & Drink</strong></td>
                        <td class="align-right"><strong>$1200</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right">Groceries</td>
                        <td colspan="2" class="align-right">$700</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right">Restaurants</td>
                        <td colspan="2" class="align-right">$500</td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Bills & Utilities</strong></td>
                        <td class="align-right"><strong>$660</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right">Phone Bill</td>
                        <td colspan="2" class="align-right">$200</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right">Insurance</td>
                        <td colspan="2" class="align-right">$200</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right">Internet</td>
                        <td colspan="2" class="align-right">$50</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right">Subscriptions</td>
                        <td colspan="2" class="align-right">$66</td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Pets</strong></td>
                        <td class="align-right"><strong>$360</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Health & Wellness</strong></td>
                        <td class="align-right"><strong>$200</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Gas</strong></td>
                        <td class="align-right"><strong>$300</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Education Loan</strong></td>
                        <td class="align-right"><strong>$325</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>TP Fund</strong></td>
                        <td class="align-right"><strong>225</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Investing</strong></td>
                        <td class="align-right"><strong>$200</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Progyny Loan</strong></td>
                        <td class="align-right"><strong>$450</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="align-right"><strong>Total</strong></td>
                        <td class="align-right"><strong>$5300</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>