<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <h2>This is the home page</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Home</td>
            </tr>
            <tr>
                <td>Food and Drink</td>
            </tr>
            <tr>
                <td>Bills/Utilities</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>